:root {
  --light-beige: #f7dcb9;
  --dark-green: #b5c18e;
  --light-brown: #deac80;
  --dark-brown: #b99470;
  --red: #ef5350;
  --red-saturated: #e73f3c;
  --light-text: #fff;
  --dark-text: #333;
}

.logo {
  transform: scale(1.5);
}
.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: normal;
}
.alice {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--light-beige);
  color: var(--dark-text);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--red);
  color: var(--light-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
header a {
  color: var(--light-text);
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
}

.profile button {
  padding: 5px 15px;
  border-radius: 7.5px;
  background-color: var(--light-beige);
  color: var(--dark-text);
  font-weight: 700;
  border: 2px solid var(--dark-text);
  cursor: pointer;
  filter: drop-shadow(3px 3px 3px black);
  transition: 0.5s;
}
.profile button:hover {
  background-color: var(--light-brown);
  color: var(--dark-text);
  transform: scale(1.1);
}

main {
  flex: 1;
  padding: 20px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sort-menu label,
.sort-menu select,
.submit-recipe button {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 500;
}

#sort-recipes {
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 7.5px;
}

.submit-recipe button {
  background-color: var(--red);
  color: var(--light-text);
  border: none;
  border-radius: 7.5px;
  filter: drop-shadow(3px 3px 3px black);
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.5s;
}
.submit-recipe button:hover {
  background-color: var(--red-saturated);
  color: var();
  transform: scale(1.1);
}

.bento-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.bento-grid div {
  background-color: var(--light-brown);
  padding: 10px;
  border: 1px solid var(--dark-brown);
  border-radius: 5px;
}

footer {
  background-color: var(--dark-brown);
  color: var(--light-text);
  text-align: center;
  padding: 10px 20px;
  margin-top: auto;
}

footer a {
  color: var(--light-text);
}

footer h3,
footer p {
  margin: 5px 0;
}
